--extra-index-url https://download.pytorch.org/whl/cu113
torch
torchvision==0.13.1+cu113
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/transformers
scipy
ftfy
psutil
accelerate==0.12.0